body{
	text-align: center;
	background-color: #e6e6ff;
}

#hiddenInfo{
	float: left;
	width: 50%;
	padding-top: 7vh;
	display: none;
}

#info{
	padding-top = 9vh;
}

.aboutText{
	padding-top: 0vh;
	padding-left: 25px !important;
	margin-right: 0vh;
	text-align: left;
	padding-bottom: 15vh;
	font-size: 16px;
}

.aboutTextTitle{
	padding-top: 7vh;
	padding-left: 25px !important;
	margin-right: 0vh;
	text-align: left;
	padding-bottom: 0vh;
	font-size: 16px;
}

.rotate270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

#skyLine{
	padding-left: 0vh;
	padding-top: 3vh;
	padding-bottom: 2vh;
}

#cf2 {
  position:relative;
  padding-left: 0px;
  height:281px;
  width:450px;
  margin:0 auto;
}
#cf2 img {
  height: 55vh;
  width: auto;
  position: absolute;
  right: 12vh;
  -webkit-transition: opacity 3s ease-in-out;
  -moz-transition: opacity 3s ease-in-out;
  -o-transition: opacity 3s ease-in-out;
  transition: opacity 3s ease-in-out;
  opacity:0;
}

#cf2 img.nontransparent {
opacity:1;
}
#cf_onclick {
cursor:pointer;
}
