body{
	text-align: center;
	background-color: #e6e6ff;
}

#hiddenInfo{
	float: left;
	width: 50%;
	padding-top: 7vh;
	display: none;
}

#info{

}

.buttonRow{
	padding-top: 10vh;
	padding-bottom: 10vh;
}

th{
	text-align: center !important;
	width: 25%;
}


td{

}

table{
	width: 100%;
}

.yearsHeader{
	height: 10vh;
	color: white;
	border-bottom: solid;
	border-bottom-width: 2px;
	border-bottom-color: white;
	background-color: #333;
}

.yearsContentHeader{
	background-color: #a6abb3;
	border-right: solid;
	border-left: solid;
	border-width: 1px;
	height: 8vh;
}

.yearsContent{
	height: 6vh;
	border: solid;
	padding-right: 10px;
	padding-left: 10px;
	border-width: 1px;
}

.yearsContent2ndLast{
	height: 6vh;
	border: solid;
	border-width: 1px;
}

.yearsContentLast{
	height: 1vh;
}

.yearsHeader:hover{
	cursor: pointer;
}


.aboutText{
	padding-top: 0vh;
	padding-left: 25px !important;
	margin-right: 0vh;
	text-align: left;
	padding-bottom: 15vh;
	font-size: 16px;
}

.aboutTextTitle{
	padding-top: 2vh;
	padding-left: 25px !important;
	margin-right: 0vh;
	text-align: left;
	padding-bottom: 0vh;
	font-size: 16px;
}

.rotate270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

#skyLine{
	padding-left: 0vh;
	padding-top: 3vh;
	padding-bottom: 2vh;
}

#cf2 {
  position:relative;
  padding-left: 0px;
  margin:0 auto;
}


.A {
  height: 55vh;
  width: auto;
  margin: 0 auto;
  -webkit-transition: opacity 3.5s ease-in-out;
  -moz-transition: opacity 3.5s ease-in-out;
  -o-transition: opacity 3.5s ease-in-out;
  transition: opacity 3.5s ease-in-out;
  opacity:1;
  content: url("IMG_2991.JPG");
}

.B{
  height: 55vh;
  width: auto;
  margin: 0 auto;
  -webkit-transition: opacity 3.5s ease-in-out;
  -moz-transition: opacity 3.5s ease-in-out;
  -o-transition: opacity 3.5s ease-in-out;
  transition: opacity 3.5s ease-in-out;
  opacity:0;
  content: url("IMG_2991.JPG");
}

.C {
  height: 55vh;
  width: auto;
  margin: 0 auto;
  -webkit-transition: opacity 3.5s ease-in-out;
  -moz-transition: opacity 3.5s ease-in-out;
  -o-transition: opacity 3.5s ease-in-out;
  transition: opacity 3.5s ease-in-out;
  opacity:1;
  content: url("IMG_1234.PNG");
}

.D {
  height: 55vh;
  width: auto;
  margin: 0 auto;
  -webkit-transition: opacity 3.5s ease-in-out;
  -moz-transition: opacity 3.5s ease-in-out;
  -o-transition: opacity 3.5s ease-in-out;
  transition: opacity 3.5s ease-in-out;
  opacity:0;
  content: url("IMG_1234.PNG");
}

.E {
  height: 55vh;
  width: auto;
  margin: 0 auto;
  -webkit-transition: opacity 3.5s ease-in-out;
  -moz-transition: opacity 3.5s ease-in-out;
  -o-transition: opacity 3.5s ease-in-out;
  transition: opacity 3.5s ease-in-out;
  opacity:1;
  content: url("IMG_2764.JPG");
}

.F {
  height: 55vh;
  width: auto;
  margin: 0 auto;
  -webkit-transition: opacity 3.5s ease-in-out;
  -moz-transition: opacity 3.5s ease-in-out;
  -o-transition: opacity 3.5s ease-in-out;
  transition: opacity 3.5s ease-in-out;
  opacity:0;
  content: url("IMG_2764.JPG");
}

.G {
  height: 55vh;
  width: auto;
  margin: 0 auto;
  -webkit-transition: opacity 3.5s ease-in-out;
  -moz-transition: opacity 3.5s ease-in-out;
  -o-transition: opacity 3.5s ease-in-out;
  transition: opacity 3.5s ease-in-out;
  opacity:1;
  content: url("IMG_3075.JPG");
}

.H {
  height: 55vh;
  width: auto;
  margin: 0 auto;
  -webkit-transition: opacity 3.5s ease-in-out;
  -moz-transition: opacity 3.5s ease-in-out;
  -o-transition: opacity 3.5s ease-in-out;
  transition: opacity 3.5s ease-in-out;
  opacity:0;
  content: url("IMG_3075.JPG");
}

#cf_onclick {
cursor:pointer;
}
