@import url('colors.css');

.nav-link {
    color: var(--color-white) !important;
}

.navbar {
  background-color: var(--color-accent-primary) !important;
  height: 5vh;
  color: var(--color-white) !important;
}

.navbar-brand {
  color: var(--color-white);
}