@media (max-width: 768px) {
  .modalDataContent,
  .modalDataContent2ndLast {
    height: 5vh;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 13px;
  }
  
  .modalDataContentHeader {
    height: 6vh;
    font-size: 14px;
  }
}